html{
font-family: "Open Sans", sans-serif;
}

.active{
  text-decoration: underline;
  text-decoration-style: bold;
}


.centred{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.navbar-brand{
  font-size: 25px !important;
}

.nav-item{
  padding-right: 10px;
  font-size: 17px;
}



.Parralax1{
   background-image: url('../img/background1.jpg');
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 400px;
}


.img-center{
padding-top: 1%;
}


.ueberblick{
margin-top: 50px;
width: 40%;
margin-right: auto;
margin-left: auto;
}

.header2-ueberblick{
text-align:center;
font-size: 60px;
font-weight: bold;
}

.header3-ueberblick{
text-align:center;
font-size: 25px;
}


.Produktbild{
width: 200px;
}

.produktbild:hover{
    filter: saturate(1) blur(0px);
    transition: all 1s;
    transform: translateY(-4%);
}


.overview{
width: 33.33%;
float: left;
}

.overview-p{
  width: 98%;
  margin-top: 30px;
}

.produktansicht{
margin-top: 50px;
}


.Parralax2{
   margin-top: 40px;
   background-image: url('../img/background2.jpg');
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   height: 60%;
   min-height:450px;
   background-size: cover;
}

.parralax2-headline{
color: white;
text-align:center;
font-size: 45px;
padding-top: 30px;
margin-bottom: 0px;
font-weight: bold;
}

.parralax2-headline2{
  color: white;
  text-align:center;
  font-size: 25px;
}


.parralax2-div{
  margin-top: 10px;
  padding-top: 20px;
  width: 33%;
  float: left;
}

.parralax2-img{
  width: 20%;
}

.parralax2-p{
  padding-top: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

  .parralax2-p2{
    color: white;
    text-align: center;
    font-size: 25px;
  }

.inhaltsstoffe{
  margin-top: 50px;
}

.inhaltsstoffe-h2{
  text-align: center;
  font-weight: bold;
}


  .inhaltsstoffe-img{
    width: 100px;
  }

  .inhaltsstoffe-p{
    margin-top: 30px;
    text-align: center;
    font-size: 19px;
  }

  footer{
    margin-top: 50px;
    background-color: #343a40;
   height: 400px;
   }


  .footer-main{
    width:50%;
    float: left;
  }


  .footer-img{
    width:200px;
    padding-top: 80px;
   }

  .footer-section{
  float: left;
  width: 16.66%;
  padding-top: 50px;
  }

  .footer-header{
    color: white;
    text-decoration: underline;
    font-size: 20px;
  }

td{
  text-align: center;
  padding-top: 15px;
  }

.Informationen{
  color:white;
  }



@media only screen and (max-width: 1250px){
  .overview {
    width: 98%;
    text-align: center;
  }
}


@media only screen and (max-width: 990px) {


    .img-center{
    padding-top: 8%;
     width: 350px;
     }

    .Parralax1{
      height: 50%;
      background-image: none;
      background-color: #343a40;
     }

     .Header2-ueberblick{
       font-size: 50px;
     }

    .overview-p{
    margin-left: auto;
    margin-right: auto;
    }


    .parralax2-div{
      width:100%;
    }

     .Parralax2{
     min-height: 1100px;
     }

    .footer-main{
      width: 100%;
     }

    .footer-img{
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding-top: 50px;
    }


    .footer-section{
      margin-left: auto;
      margin-right: auto;
      width:33%;
    }

    table{
      margin-left: auto;
      margin-right: auto;
    }

    footer{
      height: 600px;
    }


}


}
