.active{
  text-decoration: underline;
  text-decoration-style: bold;
}

.navbar-brand{
  font-size: 25px !important;
  font-family: "Open Sans", sans-serif;

}


.Parralax1{
   background-image: url('../img/background1.jpg');
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


.img-center{

padding-top: 1%;
display: block;
margin-left: auto;
margin-right: auto;

}


.ueberblick{
margin-top: 50px;
width: 40%;
margin-right: auto;
margin-left: auto;
}

.header2-ueberblick{
text-align:center;
margin-left: auto;
margin-right: auto;
display: block;
font-size: 60px;
font-weight: bold;
font-family: "Open Sans", sans-serif;
}

.header3-ueberblick{
text-align:center;
margin-left: auto;
margin-right: auto;
display: block;
font-size: 25px;
font-family: "Open Sans", sans-serif;

}


.delivery-pic{
width: 40%;
margin-left: auto;
margin-right: auto;
display: block;
}


.overview{
width: 33.33%;
float: left;
}

.produktansicht{
margin-top: 50px;
}


.Parralax2{
   margin-top: 40px;
   background-image: url('../img/background2.jpg');
   height: 60%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.parralax2-headline{
color: white;
text-align:center;
margin-left: auto;
margin-right: auto;
display: block;
font-size: 45px;
font-family: "Open Sans", sans-serif;
padding-top: 30px;
margin-bottom: 0px;
font-weight: bold;
}

.parralax2-headline2{
  color: white;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;

}



.parralax2-div{
  margin-top: 10px;
  padding-top: 20px;
  width: 33%;
  float: left;
}

.parralax2-img{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.parralax2-p{
  padding-top: 10px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

  .parralax2-p2{
    color: white;
    text-align: center;
    font-size: 25px;
  }
}


@media only screen and (max-width: 990px) {
  .overview {
    width: 100%;
}
    .delivery-pic{
    width: 25%;
    }

    .img-center{
    padding-top: 5%;
     width: 400px;
  }
    .Parralax1{
      height: 50%;
      background-image: url('../img/background1-mobile.jpg');
      background-color: DCDCDC;
    }

}


}
