.parralax1{
   height: 50%;
   min-height: 400px;
}

.img-center{
padding-top: 70px;
width: 300px;
}

.impressum-h3{
  padding-bottom: 40px;

}

.impressum-p{
 font-size: 30px;
margin: 0px;

}

.Header2-ueberblick{
  text-decoration: underline;
}

.kontakt{
margin-top: 50px;

}
