* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    
}
/* -------
   --NAV--
   -------
*/
.active {
    text-decoration: underline;
    text-decoration-style: bold;
}
  
  
.centred {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.navbar-brand {
    font-size: 25px !important;
}
  
.nav-item {
    padding-right: 10px;
    font-size: 17px;
}
/*
    -------------
    --ÜBERBLICK--
    -------------
*/

/* TEXT */
#headline {
    font-size: 7vw;
    letter-spacing: 2px;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.infotext p {
    font-size: 1em;
    text-align: justify;
}
/* /TEXT */

/* AB TABLET: BLURRED ÜBERSICHT*/
.produktalign {
    padding-top: 100px;
    display:none;
}

.produkte {
    margin-top: 15%;
}


.bild img {
    height: auto;
    width: 55%;
    transition: all 1s;
}

.bild button {
    margin-top: 3%;
    border-width: 1.5px;
}

.bild a {
    text-decoration: none;
    color: black;
    
}

.bild a:hover {
    text-decoration: none;
    color: black;
}

.vorstellung{
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
}

#zitrone, #pfirsich, #traube {
    filter: drop-shadow(2px 5px 3px #222);

}



.produktalign:hover .bild {
    filter:  blur(1.5px);
    transition: all 1s;
}

.produktalign .bild:hover {
    filter: saturate(1) blur(0px);
    transition: all 1s;
    transform: translateY(-4%);
}


/*
    ------------
    --Produkte--
    ------------
*/

/* BILDER */
.lemon img, .peach img, .grape img {
    height: auto;
    width: 55%;
    transition: all 1s;
}

.peach, .grape {
    padding-top: 100px;
}

/*Background Mobile*/
.lemon {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(252,255,112,1) 100%);
}
.peach {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(252,255,112,1) 0%, rgba(255,255,255,1) 15%, rgba(255,150,161,1) 100%);
}

.grape {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,150,161,1) 0%,rgba(255,255,255,1) 15%, rgba(207,148,255,1) 100%);
}

/*  ----------
    --FOOTER--
    ----------
*/
footer {
    margin-top: 0px;
}
/*
    -----------
    ---Media---
    -----------
*/
@media (min-width:576px) {
    .produktalign{
        padding-top: 100px;
    }

    #breaks {
        display:none;
    }

    .infotext p {
        line-height: 180%;
    }
}

@media (min-width: 768px) {
    
    #headline {
        font-size: 5vw;
    }

    .produkte{
        margin-top: 2%;
    }

    .produktalign{
        display: block;
        padding-top: 15px;
    }
    /* BUTTON DESIGN */
    
    .zitrone button {
        border-color: yellow;
    }

    .zitrone button:hover {
        background-color: yellow;
        border-color: yellow;
    }

    .zitrone button:active {
        background-color: yellow;
    }

    .pfirsich button {
        border-color: rgb(231, 144, 166);
    }

    .pfirsich button:hover {
        background-color: rgb(231, 144, 166);
        border-color: rgb(231, 144, 166);
    }

    .pfirsich button:active {
        background-color: rgb(231, 144, 166);
    }

    .traube button {
        border-color: rgb(192, 104, 243);
    }

    .traube button:active {
        background-color: rgb(192, 104, 243);
    }

    .traube button:hover {
        background-color: rgb(192, 104, 243);
        border-color: rgb(192, 104, 243);
    }

    .bild button:focus {
        outline: unset;
        box-shadow: none;
    }

    /*PRODUKTE*/
    .lemon img, .peach img, .grape img {
        height: auto;
        min-width: 80%;
        transition: all 1s;
        
    }

    .lemon, .peach, .grape {
        height: 45vh;
        background: none;
    }

    .lemon {
        padding-top: 80px;
        margin-top: 50px;
    }

    .infotext {
        height: 100%;
        padding-top: 5%;  
    }
    /*BACKGROUND*/
    
    
    
    /*FOOTER*/
    footer{
        margin-top: 50px;
    }

}

@media (min-width: 992px) {
    .produkte{
        margin-top: 0%;
    }

    #headline {
        font-size: 4.5vw;
    }

    h1 {
        font-weight: 500;
    }

    .lemon p, .peach p, .grape p {
        font-weight: 400;
        font-size: 20px;
    }

    .lemon img, .peach img, .grape img {
        height: auto;
        width: 80%;
        transition: all 1s;
    }

    .vorstellung {
        margin-top: 0px;
    }
    
    .lemon, .peach, .grape {
        height: 100vh;
        margin-top: 0px;
        background:none;
    }

    .lemon {
        height: 100vh;
        padding-top: 100px;
        
    }

    /* Background*/
    
    .lemon .infotext {
        background-image: url('../img/lemon-background.png');
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: 98% 55%;
        
    }

    .peach .infotext {
        background-image: url('../img/peach-background.png');
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: 2% 55%;          
    }

    .grape .infotext {
        background-image: url('../img/grape-background.png');
        background-size: 45%;
        background-repeat: no-repeat;
        background-position: 98% 55%;
    }
}

@media (min-width: 1800px) {
    .lemon p, .peach p, .grape p{
        font-size: 35px;
    }

    .lemon h1, .peach h1, .grape h1 {
        font-size: 70px;
    }
}
