* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

/* 
    --------------
    --Nav-Leiste--
    --------------
*/

#Parallax {
    /* The image used */
     background-image: url('../img/background.jpg');

     /* Full height */
     height: 100%;

     /* Create the parallax scrolling effect */
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.headline {
    letter-spacing: 3px;
    font-size: 3vw;
    margin-bottom: 1%;
}


.active{
    text-decoration: underline;
    text-decoration-style: bold;
  }

.overview{
  width: 100%;
  display: flex;
  padding: 2%;
  }

.overview-element {
    flex: 1;
}

/*
    -------------
    --Überblick--
    -------------
*/

.test {
   height: 100vh;
   padding-top: 10%;
   padding-left: 0;
   padding-right: 0;
}

.bild {
    transition: all 1s;
    width: 33%;
    float: left;
    margin-top: 4%;
}

.bild img {
    height: auto;
    width: 60%;
    transition: all 1s;
}

#zitrone {
    filter: hue-rotate(0deg);
}

#apfel {
    filter: hue-rotate(52deg);
}

#erdbeere {
    filter: hue-rotate(290deg);

}

.test:hover .bild {
    filter:  blur(1px);
    transition: all 1s;
}

.test .bild:hover {
    filter: saturate(1) blur(0px);
    transition: all 1s;
    transform: translateY(-4%);
}

.bild button {
    display: inline-block;
    background: transparent;
    width: 35%;
    margin-top: 5%;
    transition: all 0.3s ease-in-out;
}

.zitrone button {
    border: 2px solid rgb(231, 247, 20);
    border-radius: 4px;
    background-color: rgb(234, 250, 10);
    opacity: 0.8;
}

.apfel button {
    border: 2px solid rgb(2, 212, 83);
    border-radius: 4px;
    background-color: rgb(2, 212, 83);
    opacity: 0.8;
}

.erdbeere button {
    border: 2px solid rgb(252, 14, 46);
    border-radius: 4px;
    background-color: rgb(252, 14, 46);
    opacity: 0.8;
}

button:hover {
    opacity: 1;
}

.bild button a {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: 1.5%;
    font-size: 1.5vw;
}

.bild button a:hover {
    text-decoration: none;
    color: black;
}

/*
    ------------
    --Produkte--
    ------------
*/

.pic img {
    max-width: 100%;
    height: auto;
}

.produkt-container {
    padding-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.info {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding-left: 10%;
}

.info h1, .info2 h1 {
    font-size: 3em;
}

#limgrade {
    background: rgb(255,235,10);
    background: linear-gradient(90deg, rgba(255,235,10,1) 0%, rgb(253, 251, 108) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#apfgrade {
    background: rgb(0, 163, 22);
    background: linear-gradient(90deg, rgba(0,163,22,1) 0%, rgb(124, 255, 124) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info p, .info2 p {
    font-size: 1.5em;
}

.pic {
    width: 25%;
    height: 100vh;
}

.produkt-container2 {
    padding-top: 0%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
}

.produkt-container2 img {
    filter: hue-rotate(52deg);
}

.info2 {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 10%;
    align-items: flex-end;
}

.produkt-container .pic {
    margin-right: 5%;
}

.produkt-container2 .pic {
   margin-left: 5%;
}




/*
    -----------
    ---Media---
    -----------
*/

@media only screen and (max-width: 991px) {
    .test {
        padding-top: 17%;
    }

    .bild {
       margin-top: 10%;
       width: 100%;
    }

    .bild img {
        height: auto;
        width: 50%;
        transition: all 1s;
    }

    .headline {
        font-size: 4vw;
        letter-spacing: 2.5px;
        margin-top: 2%;
    }
    
    /* Produkte*/
    .produkt-container{
        min-height: 550px;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 10%;
    }

    .info{
        align-items: center;
        justify-content: flex-start;
        padding: 5% 0% 0% 0%;
    }
    .pic {
        height: 85vh;
    }

    .produkt-container2 {
        min-height: 550px;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 10%;
    }

    .info2{
        align-items: center;
        justify-content: flex-start;
        padding: 5% 0% 0% 0%;
    }

    #scroll1 {
        padding-top: 15%;
    }

    .produkt-container .pic {
        margin-right: 0%
    }
    
    .produkt-container2 .pic {
       margin-left: 0%;
    }

}

@media only screen and (max-width: 575.98px) {
    .test {
        padding-top: 25%;
        margin-bottom: 5%;
        
    }
    .headline {
        font-size: 4.5vw;
        letter-spacing: 2px;
        margin-top: 5%;
        margin-bottom: 0;
    }

    .bild {
        margin-top: 15%;
    }

    .bild button {
        height: 25%;
    }

    .bild button a {
        font-size: 3vw;
    }

    /* Produkte*/
    .produkt-container{
        padding-top: 7%;
        min-height: 75vh;
    }

    .produkt-container2 {
        padding-top: 7%;
        min-height: 75vh;
    }

    .info h1, .info2 h1{
        font-size: 8vw;
    }

    .info p, .info2 p {
        font-size: 4vw;
    }

    .pic {
        height: 40vh;
        width: 35vw;
    }

    #scroll1 {
        padding-top: 20%;
    }

}
