html{
    font-family: 'Raleway', sans-serif;
}

 .dasteam{
   background-image: url('../img/logo-background2.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 30vw;
   height: 100vh;


 }


 .dasteam-h2{
  padding-top: 150px;
  font-weight: 350;
 }

    #headline{
  margin-top: 100px;
  font-size: 80px;

      }

.background-grey{
background-color: #343a40;
  min-height: 400px;
}

.person1{
   padding-top: 50px;
}

.person2{
   padding-top: 50px;
}

.background-white{
  min-height: 400px;
}
    .white{
      color: white;
    }

    .black{
      color:black;
    }

    .content{
      width: 60%;


    }

    .left{
      float: left;
    }

    .right{
      float: right;
    }

   .dasteam-h2{
     text-align: center;
     margin-top: 70px;
   }

   .img-person-left{
    width: 200px;
    float: left;

   }

   .img-person-right{
    width: 200px;
    float: right;

   }

    .h2-person{
      text-align: center;
      text-decoration: underline;
      font-size: 40px;
    }

      .p-person{
      text-align: center;
      }

     .social-media{
       margin-top: 50px;
     }

      .h2-social-media{
        font-size: 50px;
        text-align: center;
        font-weight: bold;

      }

      .p-social-media{
        text-align: center;
        font-size: 25px;
      }




  @media only screen and (max-width: 1200px){
    .dasteam{
   background-size: 50vw;
    }

  }


    @media only screen and (max-width: 990px) {

      .container-img-person{
        width:100%;
      }

      .content{
      width:100%;
     float:none;
     margin-left: auto;
     margin-right: auto;
      }

      .dasteam{
     background-size: 60vw;

      }

 .dasteam-h2{
   padding-top: 4px;
   font-size: 3vw;
 }

  .img-person-right{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 150px;

  }

  .img-person-left{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 150px;


  }


  .background-grey{
     margin-top: 70px;
     min-height: 500px;
   }

   .background-white{
     margin-top: 70px;
     min-height: 500px;
   }
   .p-social-media{
     text-align: center;
     font-size: 4vw;
   }

    }

@media only screen and (max-width: 600px){
  .dasteam-h2{

   font-size: 5vw;
  }

  .p-social-media{
    text-align: center;
    font-size: 6vw;
  }

}
@media only screen and (max-width: 400px){
#headline{
font-size: 60px;
margin-top: 100px;
}
.dasteam{

}



.background-grey{

  margin-top: 90px;
  min-height: 600px;
}

.background-white{
  margin-top: 90px;
  min-height: 500px;
}

.h2-social-media{
  font-size: 40px;
}

.h2-person{
font-size: 35px;
}

.mail{
 content: "\A";
 white-space: pre;
}

}
